<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="InteractiveBrokersTest">

	<test thread-count="5" name="ChromeTest">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.interactivebrokers.testcases.TestCase" />
		</classes>
	</test>
	<test thread-count="5" name="FirefoxTest">
		<parameter name="browser" value="firefox" />
		<classes>
			<class name="com.interactivebrokers.testcases.TestCase" />
		</classes>
	</test>
	<test thread-count="5" name="HeadLessTest">
		<parameter name="browser" value="headless" />
		<classes>
			<class name="com.interactivebrokers.testcases.TestCase" />
		</classes>
	</test>
</suite>
